<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-align-self-center ion-justify-content-center screen">
      <ion-col size="12">
        <ion-card class="ion-text-center">
          <ion-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
              <ion-item>
                <ion-label position="stacked">Nombre(s)</ion-label>
                <ion-input type="text" inputmode="text" formControlName="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Apellido(s)</ion-label>
                <ion-input type="text" inputmode="text" formControlName="lastName"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Usuario</ion-label>
                <ion-input type="text" inputmode="text" formControlName="userName"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input type="text" inputmode="text" formControlName="password"></ion-input>
              </ion-item>
              <ion-button expand="full" shape="round" fill="outline" (click)="onGetRandomUserInfo()" [disabled]="isLoading">Rellenar Datos con API</ion-button>
              <ion-button expand="full" shape="round" [disabled]="isLoading"  type="submit">Continuar</ion-button>
            </form>
          </ion-card-content>
          <p class="ion-margin" (click)="goToLoginPage()">Si ya tiene cuenta inicie sesión aquí.</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>